extends layout

block content
	div.background
		h1=t('landing_wellcome')
		div.undercover
			div.presentation
				h2=t('landing_presentation')
			div.page
				h3=t('landing_page')
			div.instructions
				h4=t('landing_instructions')
