extends ../layout
block content
	div.col-sm-6.col-xs-10.col-sm-offset-3.col-xs-offset-1
		div.panel.panel-primary
			div.panel-heading #{t('email_all_nice_title')}
			div.panel-body #{t('email_all_nice')}